/*NAVBAR*/
.navbar{
    background-color: black;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.navhover:hover{
    transition: transform 125ms;
    transform: translateY(-10px);
    transition: all ease-out 0.2s;
}
.navhover2:hover{
    transition: transform 125ms;
    transform: translateY(-10px);
    transition: all ease-out 0.2s;
}

/*BACKGROUND*/
.prueba{
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.prueba2{
    margin-bottom: 1000px;
}
header{
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

/*FUENTES*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../css/PressStart2P-Regular.ttf)
}
.latipografia{
    font-family: 'Poppins', sans-serif;
}
#TITLES_ELD { 
    font-family:'Palatino, URW Palladio L, serif';
    color: bisque;
}

/*CARDS*/
.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}
.cardredactado{
    background-color: #2c75ff;
}

/*PRODUCTOS*/
.producto{
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.producto:hover{
    transform: scale(1.05);
}
.producto-name{
    background-color: rgba(0,0,0,0.4);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

/*ANIMACIONES*/
@keyframes moveRight{
    100%{transform:translateX(1000px)}
}
.GUTS{
    position: absolute;
    bottom: 8%;
    animation: moveRight 6s linear infinite;
}
/*SEPARADORES*/
#separator-cc{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-cc .content{
    width: 110%;
    height: 100px;
    margin-left: -5%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
#separator .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
/*FOOTER*/
#footer{
    background: url(../img/fondo1.jpg);
    background-color:#2c75ff;
}
/*OTHERTHINGS*/
#videosnoticias{
    align-items: center;
    align-content: center;
}
.personas{
    width: 300px;
}
.btn{
    background-color: black;
    
}