/*OVERFUCK*/
html, body 
{ 
 height: 100%;
 overflow-x: hidden;
}

/*NAVBAR*/
.navbar{
    background-color: black;
}
.nav-link{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.navhover:hover{
    transition: transform 125ms;
    transform: translateY(-10px);
    transition: all ease-out 0.2s;
}
.navhover2:hover{
    transition: transform 125ms;
    transform: translateY(-10px);
    transition: all ease-out 0.2s;
}

/*BACKGROUND*/
.prueba{
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header{
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*FUENTES*/
@font-face {
    font-family: 'Rubik Wet';
    src: url(RubikWetPaint-Regular.ttf);
}
@font-face {
    font-family: 'Medieval';
    src: url(MedievalSharp-Regular.ttf);
}
.latipografia{
    font-family: 'Poppins', sans-serif;
}
#TITLES_ELD { 
    font-family:'Palatino, URW Palladio L, serif';
    color: bisque;
}
#TITLES_BRSK { 
    font-family:'Rubik Wet';
    color: rgb(221, 13, 13);
    text-shadow: 5px 5px #000;
}
#TITLES_ESDLA { 
    font-family:'Medieval';
    color: rgb(216, 199, 51);
    text-shadow: 5px 5px #000;
}
#TITLES_HOME { 
    font-family:'Palatino, URW Palladio L, serif';
    color: rgb(255, 255, 255);
}

/*CARDS*/
.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}
.cardredactado{
    background-color: red;
}

/*PRODUCTOS*/
.producto{
    cursor: pointer;
    transition: all ease-out 0.2s;
}
.producto:hover{
    transform: scale(1.05);
}
.producto-name{
    background-color: rgba(0,0,0,0.4);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}


/*NEWSLETTER*/
.card-border2{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

/*FOOTER*/
.footer-style-3 .footer-widget .footer-link li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
 }

/*SEPARADORES*/
#separator .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

/*OTHERTHINGS*/
#videosnoticias{
    align-items: center;
    align-content: center;
}
.personas{
    width: 300px;
}
.btn{
    background-color: black;  
}
.mailto {
    color: #000;
}

/*ANIMACIONES TITULOS*/
.text-area{
    opacity: 0;
    transform: translate(0, -100px) forwards(360deg) scale(0);
    animation: animate 5s forwards;
    text-align: center;
}
.text-area:nth-of-type(2){
    animation-delay: .1s;
}
.text-area:nth-of-type(3){
    animation-delay: .2s;
}
.text-area:nth-of-type(4){
    animation-delay: .3s;
}
@keyframes animate{
    30%{
        transform: translate(0, -50px) forwards(180deg) scale(1);
    }
    60%{
        transform: translate(0, 20px) forwards(0deg) scale(0.8);
    }
    100%{
        transform: translate(0) forwards(0deg) scale(1);
        opacity: 1;
    }
}

/*ANIMACIONES VARIAS*/
@keyframes moveRight{
    100%{transform:translateX(1000px)}
}
.GUTS{
    position: absolute;
    bottom: 8%;
    animation: moveRight 6s linear infinite;
}

/*GALLERY*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  color: #fff;
  background: #007bff;
}
body{
  padding: 10px;
}
.wrapper{
  margin: 100px auto;
  max-width: 1100px;
}
.wrapper nav{
  display: flex;
  justify-content: center;
}
.wrapper .items{
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #007bff;
  border-radius: 50px;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
  color: #fff;
  background: #007bff;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image{
  width: calc(100% / 4);
  padding: 7px;
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img{
  transform: scale(1.1);
}
.gallery .image.hide{
  display: none;
}
.gallery .image.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  font-weight: 500;
  margin-left: 5px;
}
.details .icon{
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box{
  width: 100%;
  display: flex;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.4);
}
.shadow.show{
  display: block;
}
@media (max-width: 1000px) {
  .gallery .image{
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items{
    max-width: 600px;
  }
  nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30px auto;
  }
  .wrapper nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}