html { 
    background: url("IMAGES_GUTS/backscreen.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
.ryuCSS
{
    
    position: absolute;
    margin-top: 700px;
    left: 100px; 
    top: 90px; 
    height: 400px;
    width: 250px;
    animation: moveRight 6s linear infinite;

}

@keyframes moveRight{
    100%{transform:translateX(1730px);}
}

